extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/routes', method='POST', enctype='multipart/form-data')
    p Routes
    input(type='file', name='routes')
    button(type='submit', class='btn') Submit
  form(action='/shapes', method='POST', enctype='multipart/form-data')
    p Shapes
    input(type='file', name='shapes')
    button(type='submit', class='btn') Submit
  form(action='/stops', method='POST', enctype='multipart/form-data')
    p Stops
    input(type='file', name='stops')
    button(type='submit', class='btn') Submit