extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/routes', method='POST', enctype='multipart/form-data')
    input(type='file', name='groupfile')
    button(type='submit', class='btn') Submit